@using System.Globalization
@using CourseOnline.Models
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<link rel="stylesheet" href="~/Content/css/jquery.toast.min.css">
<div id="main" class="main-home" style="margin-top: -139px;">
    <!-- Slider Section -->
    <div id="slider">
        <div id="slider-container"><img src="~/Content/assets/wp-content/uploads/2014/08/fullscreen-slider.jpg" alt="" /></div>
        <div id="slider-search-container">
            <div class="slider-search">
                <form method="get" id="courses-search" class="courses-search" action="@Url.Action("Shop","Home")">
                    <input id="searchtext" name="search" type="text" value="" placeholder="Tìm kiếm khóa học" />
                    <input type="submit" value="">
                    <div class="course-title-holder hidden">
                        ["Advanced Programming","Analysis of Algorithms","Architecture Analysis & Design","Basic Laws and Policies","Emerging Trends and Technologies","Fitness Training Program","General Business Law","Healthcare Delivery","Introduction
                        to Calculus","Maintenance Training","Power Electronics","Processing Digital Signal"]
                    </div>
                </form>
                <h4>Học online mọi lúc mọi nơi.</h4><a href="/Home/Shop" title="View All Courses"> Tất cả khóa học <span class="fa fa-angle-double-right"> </span> </a>
            </div>
            <div class="dt-sc-clear"></div>

            <div class='dt-sc-hr-invisible-medium  '></div>

            <div class='dt-sc-hr-invisible-medium  '></div>

            <div class='column dt-sc-one-fourth  space  first'>
                <div class="dt-sc-counter" data-counter="332">
                    <div class="dt-sc-counter-number"> @(ViewBag.TotalCourse) </div>
                    <h5> Khóa học <span> </span></h5>
                </div>
            </div>
            <div class='column dt-sc-one-fourth  space  '>
                <div class="dt-sc-counter" data-counter="1403">
                    <div class="dt-sc-counter-number"> @(ViewBag.TotalMember) </div>
                    <h5> Thành viên <span> </span></h5>
                </div>
            </div>
            <div class='column dt-sc-one-fourth  space  '>
                <div class="dt-sc-counter" data-counter="60">
                    <div class="dt-sc-counter-number"> @(ViewBag.TotalAuthor) </div>
                    <h5> Tác giả <span> </span></h5>
                </div>
            </div>
            <div class='column dt-sc-one-fourth  space  '>
                <div class="dt-sc-counter" data-counter="120">
                    <div class="dt-sc-counter-number"> @(ViewBag.TotalSubject) </div>
                    <h5> Chủ đề <span> </span></h5>
                </div>
            </div>
        </div>
    </div>
    <!-- **Slider Section - End** -->
    <!-- ** Primary Section ** -->
    <section id="primary" class="content-full-width">
        <!-- #post-5009 -->
        <div id="post-5009" class="post-5009 page type-page status-publish hentry">
            <div class='fullwidth-section  '>
                <div class="container">
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <div class='column dt-sc-one-fourth  space  first'>
                        <div class='dt-sc-ico-content type14'>
                            <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-custom-icon1'></span></a></div>
                            <h4><a href='#' target='_blank'> Sáng tạo </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-fourth  space  '>
                        <div class='dt-sc-ico-content type14'>
                            <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-custom-icon2'></span></a></div>
                            <h4><a href='#' target='_blank'> Làm việc nhóm </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-fourth  space  '>
                        <div class='dt-sc-ico-content type14'>
                            <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-custom-icon3'></span></a></div>
                            <h4><a href='#' target='_blank'> Phân tích </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-fourth  space  '>
                        <div class='dt-sc-ico-content type14'>
                            <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-custom-icon4'></span></a></div>
                            <h4><a href='#' target='_blank'> Luyện tập </a></h4>
                        </div>
                    </div>
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <h2 class='border-title  '>Khóa học<span></span></h2>
                    <div class='column dt-sc-one-third  space  first'>
                        <p>Với sứ mệnh "Nâng cao giá trị tri thức, phục vụ hàng triệu người Việt Nam", LMS mang tới các giải pháp đào tạo trực tuyến thiết thực cho cá nhân và doanh nghiệp</p>
                        <div class='dt-sc-hr-invisible-small  '></div>
                        <p>Nền tảng đào tạo trực tuyến về kỹ năng dành cho người trưởng thành từ kỹ năng chuyên môn trong công việc đến những kỹ năng mềm trong cuộc sống, xã hội hàng ngày.</p>
                        <div class='dt-sc-hr-invisible-small  '></div>
                        <a href='/Home/Shop' target='_blank' class='dt-sc-button small'>Tất cả khóa học</a>
                    </div>
                    <div class='column dt-sc-two-third  space  '>
                        <div class="dt-sc-course-carousel-wrapper">
                            <ul class="dt-sc-course-carousel" data-column="2">
                                @foreach (var course in ViewBag.HomeCourse)
                                {
                                    <li class="column dt-sc-one-half">
                                        <article id="post-5993" class="dt-sc-custom-course-type  post-5993 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-education">
                                            <div class="dt-sc-course-thumb">
                                                <a href="/Home/ProducDetail/@(course.CourseId)"><img src='@(course.Image)' width='573' height='403' /></a>
                                                <div class="dt-sc-course-overlay">
                                                    <a title="Power Electronics" href="/Home/ProducDetail/@(course.CourseId)" class="dt-sc-button small white">Xem chi tiết</a>
                                                </div>
                                            </div>
                                            <div class="dt-sc-course-details">
                                                <span class="dt-sc-course-price"><span class="amount">@(Math.Round(course.Price).ToString("#,###", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))<span>&#8363;</span></span></span>
                                                <h5><a href="/Home/ProducDetail/@(course.CourseId)" title="Power Electronics">@(course.CourseName)</a></h5>
                                                <div class="dt-sc-course-meta">
                                                    <p>@(course.ResourceCourses.Count)&nbsp;bài học</p>
                                                </div>
                                                <div class="dt-sc-course-data">
                                                    <div class="dt-sc-course-duration">
                                                        <i class="fa fa-clock-o"> </i>
                                                        <span>05 : 35</span>
                                                    </div>

                                                    <span id="post-ratings-5993-loading" class="post-ratings-loading">
                                                        <img src="~/Content/assets/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...
                                                    </span>
                                                </div>
                                            </div>
                                        </article>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <div class='dt-sc-hr-invisible-small  '></div>
                    <div class='column dt-sc-one-third  space  first'>
                        <p><img class="size-full wp-image-4762" src="~/Content/assets/wp-content/uploads/2014/06/lms-banner1.jpg" alt="ad1" width="420" height="210" /></p>
                    </div>
                    <div class='column dt-sc-one-third  space  '>
                        <p><img class="size-full wp-image-4763" src="~/Content/assets/wp-content/uploads/2014/06/lms-banner2.jpg" alt="ad2" width="420" height="210" /></p>
                    </div>
                    <div class='column dt-sc-one-third  space  '>
                        <p><img class="size-full wp-image-4764" src="~/Content/assets/wp-content/uploads/2014/06/lms-banner3.jpg" alt="ad3" width="420" height="210" /></p>
                    </div>
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <h2 class='border-title aligncenter '>Blog<span></span></h2>
                    <div class='column dt-sc-one-third first'>
                        <article class="blog-entry no-border post-486 post type-post status-publish format-image has-post-thumbnail hentry category-post-format-audio category-photoshop tag-creative tag-design tag-news-2 post_format-post-format-image">
                            <div class="blog-entry-inner">
                                <div class="entry-thumb">
                                    <a href="blog/image-minus-id-quod/"><img width="420" height="295" src="~/Content/assets/wp-content/uploads/2014/08/blog15-420x295.jpg" class="attachment-blogcourse-three-column-single-sidebar size-blogcourse-three-column-single-sidebar wp-post-image" alt="" srcset="~/Content/assets/wp-content/uploads/2014/08/blog15-420x295.jpg 420w, ~/Content/assets/wp-content/uploads/2014/08/blog15-300x211.jpg 300w, ~/Content/assets/wp-content/uploads/2014/08/blog15-1024x719.jpg 1024w, ~/Content/assets/wp-content/uploads/2014/08/blog15-100x70.jpg 100w, ~/Content/assets/wp-content/uploads/2014/08/blog15.jpg 1170w, ~/Content/assets/wp-content/uploads/2014/08/blog15-880x618.jpg 880w, ~/Content/assets/wp-content/uploads/2014/08/blog15-590x415.jpg 590w, ~/Content/assets/wp-content/uploads/2014/08/blog15-573x403.jpg 573w, ~/Content/assets/wp-content/uploads/2014/08/blog15-429x302.jpg 429w, ~/Content/assets/wp-content/uploads/2014/08/blog15-431x303.jpg 431w" sizes="(max-width: 420px) 100vw, 420px" /></a>
                                    <div class="entry-thumb-desc">
                                        <p>
                                        <p>There are many variations of passages of Lorem Ipsum...</p>
                                        </p>
                                    </div>
                                </div>
                                <!-- .entry-thumb -->
                                <div class="entry-details">
                                    <div class="featured-post"> <span class="fa fa-trophy"> </span> <span class="text">Featured</span></div>
                                    <div class="entry-meta">
                                        <div class="date">28 Jan </div> <a href='blog/image-minus-id-quod/' class='entry_format'></a>
                                    </div>
                                    <div class='entry-title'>
                                        <h4><a href='blog/image-minus-id-quod/'>Image - Minus id quod</a></h4>
                                    </div>
                                    <div class="entry-metadata">
                                        <p class='author'><i class='fa fa-user'> </i> <a href='blog/author/ram/'>ram</a></p><span> | </span>
                                        <p class="tags"><i class="fa fa-tags"> </i><a href="blog/tag/creative/"> creative</a>,<a href="blog/tag/design/"> design</a>,<a href="blog/tag/news-2/"> news</a></p>
                                        <span> | </span>
                                        <p class='comments'><a href='blog/image-minus-id-quod//#respond' class='comments'><span class='fa fa-comments'> </span> 0</a></p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class='column dt-sc-one-third'>
                        <article class="blog-entry no-border post-484 post type-post status-publish format-gallery has-post-thumbnail hentry category-post-format-audio category-news category-photoshop tag-blog-2 tag-chat post_format-post-format-gallery">
                            <div class="blog-entry-inner">
                                <div class="entry-thumb">
                                    <ul class='entry-gallery-post-slider'>
                                        <li><img src='~/Content/assets/wp-content/uploads/2014/08/blog16.jpg' /></li>
                                        <li><img src='~/Content/assets/wp-content/uploads/2014/05/blog14.jpg' /></li>
                                        <li><img src='~/Content/assets/wp-content/uploads/2014/05/blog4.jpg' /></li>
                                        <li><img src='~/Content/assets/wp-content/uploads/2014/05/blog6.jpg' /></li>
                                    </ul>
                                    <div class="entry-thumb-desc">
                                        <p>
                                        <p>There are many variations of passages of Lorem Ipsum...</p>
                                        </p>
                                    </div>
                                </div>
                                <!-- .entry-thumb -->
                                <div class="entry-details">
                                    <div class="entry-meta">
                                        <div class="date">28 Jan </div> <a href='blog/gallery-cumque-nihil-impedit/' class='entry_format'></a>
                                    </div>
                                    <div class='entry-title'>
                                        <h4><a href='blog/gallery-cumque-nihil-impedit/'>Gallery - Cumque nihil impedit</a></h4>
                                    </div>
                                    <div class="entry-metadata">
                                        <p class='author'><i class='fa fa-user'> </i> <a href='blog/author/ram/'>ram</a></p><span> | </span>
                                        <p class="tags"><i class="fa fa-tags"> </i><a href="blog/tag/blog-2/"> blog</a>,<a href="blog/tag/chat/"> chat</a></p> <span> | </span>
                                        <p class='comments'><a href='blog/gallery-cumque-nihil-impedit//#respond' class='comments'><span class='fa fa-comments'> </span> 0</a></p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class='column dt-sc-one-third'>
                        <article class="blog-entry no-border post-482 post type-post status-publish format-status has-post-thumbnail hentry category-magazine category-photography category-photoshop tag-blog-2 tag-chat post_format-post-format-status">
                            <div class="blog-entry-inner">
                                <div class="entry-thumb">
                                    <a href="blog/latin-words-ipsum/"><img width="420" height="295" src="~/Content/assets/wp-content/uploads/2014/08/blog17-420x295.jpg" class="attachment-blogcourse-three-column-single-sidebar size-blogcourse-three-column-single-sidebar wp-post-image" alt="" srcset="~/Content/assets/wp-content/uploads/2014/08/blog17-420x295.jpg 420w, ~/Content/assets/wp-content/uploads/2014/08/blog17-300x211.jpg 300w, ~/Content/assets/wp-content/uploads/2014/08/blog17-1024x719.jpg 1024w, ~/Content/assets/wp-content/uploads/2014/08/blog17-100x70.jpg 100w, ~/Content/assets/wp-content/uploads/2014/08/blog17.jpg 1170w, ~/Content/assets/wp-content/uploads/2014/08/blog17-880x618.jpg 880w, ~/Content/assets/wp-content/uploads/2014/08/blog17-590x415.jpg 590w, ~/Content/assets/wp-content/uploads/2014/08/blog17-573x403.jpg 573w, Content/assets/wp-content/uploads/2014/08/blog17-429x302.jpg 429w, ~/Content/assets/wp-content/uploads/2014/08/blog17-431x303.jpg 431w" sizes="(max-width: 420px) 100vw, 420px" /></a>
                                    <div class="entry-thumb-desc">
                                        <p>
                                        <p>There are many variations of passages of Lorem Ipsum...</p>
                                        </p>
                                    </div>
                                </div>
                                <!-- .entry-thumb -->
                                <div class="entry-details">
                                    <div class="entry-meta">
                                        <div class="date">28 Jan </div> <a href='blog/latin-words-ipsum/' class='entry_format'></a>
                                    </div>
                                    <div class='entry-title'>
                                        <h4><a href='blog/latin-words-ipsum/'>Latin words Ipsum</a></h4>
                                    </div>
                                    <div class="entry-metadata">
                                        <p class='author'><i class='fa fa-user'> </i> <a href='blog/author/ram/'>ram</a></p><span> | </span>
                                        <p class="tags"><i class="fa fa-tags"> </i><a href="blog/tag/blog-2/"> blog</a>,<a href="blog/tag/chat/"> chat</a></p> <span> | </span>
                                        <p class='comments'><a href='blog/latin-words-ipsum//#respond' class='comments'><span class='fa fa-comments'> </span> 0</a></p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

            <div class='dt-sc-hr-invisible-medium '></div>
            <div class='fullwidth-section custom-parallax dt-sc-parallax-section' style="background-image:url(Content/assets/wp-content/uploads/2014/09/parallax-light-white.jpg);background-position:left top;background-attachment:fixed; ">
                <div class="container">
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <div class='column dt-sc-one-sixth  space  first'>
                        <div class='dt-sc-ico-content type13'>
                            <div class='custom-icon' style="background-color:#f2672e;"><a href='#' target='_blank'><span class='fa fa-html5'></span></a></div>
                            <h4><a href='#' target='_blank'> HTML </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-sixth  space  '>
                        <div class='dt-sc-ico-content type13'>
                            <div class='custom-icon' style="background-color:#0171bb;"><a href='#' target='_blank'><span class='fa fa-css3'></span></a></div>
                            <h4><a href='#' target='_blank'> CSS </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-sixth  space  '>
                        <div class='dt-sc-ico-content type13'>
                            <div class='custom-icon' style="background-color:#9fbf3a;"><a href='#' target='_blank'><span class='fa fa-android'></span></a></div>
                            <h4><a href='#' target='_blank'> Android </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-sixth  space  '>
                        <div class='dt-sc-ico-content type13'>
                            <div class="custom-icon" style="background-color:#2b8bc0;"><span><a href="#" target="_blank"><img src="~/Content/assets/wp-content/uploads/2014/05/icon-ps.png" title="Photoshop" alt="Photoshop"></a></span></div>
                            <h4><a href='#' target='_blank'> Photoshop </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-sixth  space  '>
                        <div class='dt-sc-ico-content type13'>
                            <div class="custom-icon" style="background-color:#e5a329;"><span><a href="#" target="_blank"><img src="~/Content/assets/wp-content/uploads/2014/05/icon-js.png" title="jQuery" alt="jQuery"></a></span></div>
                            <h4><a href='#' target='_blank'> jQuery </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-sixth  space  '>
                        <div class='dt-sc-ico-content type13'>
                            <div class="custom-icon" style="background-color:#d10101;"><span><a href="#" target="_blank"><img src="~/Content/assets/wp-content/uploads/2014/05/icon-ruby.jpg" title="Ruby" alt="Ruby"></a></span></div>
                            <h4><a href='#' target='_blank'> Ruby </a></h4>
                        </div>
                    </div>
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <div class='dt-sc-hr-invisible  '></div>
                </div>
            </div>
            <div class='dt-sc-hr-invisible-medium  '></div>
            <div class='fullwidth-section  '>
                <div class="container">
                    <h2 class='border-title  '>Upcoming Events<span></span></h2>
                    <div class="dt-sc-events-carousel-wrapper">
                        <ul class="dt-sc-events-carousel">
                            <li class="dt-sc-one-half column " id="post-3636">
                                <div class="dt-sc-event-container">
                                    <div class="dt-sc-event-thumb">
                                        <a href="#" title="Welcoming 25th Batch"><img width="420" height="295" src="~/Content/assets/wp-content/uploads/2014/05/course11-420x295.jpg" class="attachment-blogcourse-three-column size-blogcourse-three-column wp-post-image" alt="" title="Welcoming 25th Batch" sizes="(max-width: 420px) 100vw, 420px" /></a>
                                        <span class="event-price">$60</span>
                                    </div>
                                    <div class="dt-sc-event-content">
                                        <h2><a href="#">Welcoming 25th Batch</a></h2>
                                        <div class="dt-sc-event-meta">
                                            <p> <i class="fa fa-calendar-o"> </i>Jul 2015 08 am - Mar 2025 10 pm </p>
                                            <p>
                                                <i class="fa fa-map-marker"> </i><a href="venue/peppard-hill/">Peppard Hill</a>, United States<a href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=AL+United+States"
                                                                                                                                                 title="Peppard Hill" target="_blank"> + Google Map </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='dt-sc-hr-invisible-medium'></div>
            <div class='fullwidth-section skin-color dt-sc-parallax-section' style="background-image:url(~/Content/assets/wp-content/uploads/2014/08/newsletter-parallax.png);background-position:left top;background-attachment:fixed; ">
                <div class="container">
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <section id="newsletter">
                        <h2 class="border-title aligncenter">Get in touch with us</h2>
                        <h6> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which Ipsum slightly believable </h6>
                        <form name="frmNewsletter" method="post" class="dt-sc-subscribe-frm">
                            <input type="email" name="dt_mc_emailid" id="dt_mc_emailid" required="" placeholder="Your Email Address" />
                            <input type="hidden" name="dt_mc_apikey" id="dt_mc_apikey" value="c94a1d38b6683d601a324aeeb4d4ffe3-us1" />
                            <input type="hidden" name="dt_mc_listid" id="dt_mc_listid" value="314bbca712" />
                            <input type="submit" name="submit" class="dt-sc-button small" value="Subscribe" />
                            <p></p>
                        </form>
                        <div id="ajax_newsletter_msg"></div>
                    </section>
                    <div class='dt-sc-hr-invisible-medium  '></div>
                </div>
            </div>
            <div class='dt-sc-hr-invisible-medium  '></div>
            <div class='fullwidth-section  '>
                <div class="container">
                    <h2 class='border-title aligncenter '>Our Process<span></span></h2>
                    <div class='dt-sc-hr-invisible  '></div>
                    <div class="dt-sc-timeline-section">
                        <div class="dt-sc-timeline left ">
                            <div class="dt-sc-one-half column first">
                                <div class="dt-sc-timeline-content">
                                    <h2><a href="#"> Step 01 </a> </h2>
                                    <h4>Search for your course</h4>
                                    <p><i class="fa fa-timeline-icon1"> </i>Nemo enim ipsam voluptatem quia voluptas sit atur aut odit aut fugit, sed quia consequuntur magni res.</p>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-timeline right ">
                            <div class="dt-sc-one-half column first">
                                <div class="dt-sc-timeline-content">
                                    <h2><a href="#"> Step 02 </a> </h2>
                                    <h4>Take a Sample Lesson</h4>
                                    <p><i class="fa fa-timeline-icon2"> </i>Nemo enim ipsam voluptatem quia voluptas sit atur aut odit aut fugit, sed quia consequuntur magni res.</p>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-timeline left ">
                            <div class="dt-sc-one-half column first">
                                <div class="dt-sc-timeline-content">
                                    <h2><a href="#"> Step 03 </a> </h2>
                                    <h4>Preview the Syllabus</h4>
                                    <p><i class="fa fa-timeline-icon3"> </i>Nemo enim ipsam voluptatem quia voluptas sit atur aut odit aut fugit, sed quia consequuntur magni res.</p>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-timeline right ">
                            <div class="dt-sc-one-half column first">
                                <div class="dt-sc-timeline-content">
                                    <h2><a href="#"> Step 04 </a> </h2>
                                    <h4>Purchase the Course</h4>
                                    <p><i class="fa fa-timeline-icon4"> </i>Nemo enim ipsam voluptatem quia voluptas sit atur aut odit aut fugit, sed quia consequuntur magni res.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='dt-sc-hr-invisible-medium  '></div>
            <div class="container">
                <div class="social-bookmark"></div>
                <div class="social-share"></div>
            </div>
        </div>
    </section>
</div>
<div id="show-message" data-success="@ViewBag.ThanhToan"></div>
<!-- Notification -->
<script src="~/Content/js/alert/jquery.toast.min.js"></script>
<script src="~/Content/js/alert/toastDemo.js">
</script>
@section Scripts
{
    <script>
        jQuery(document).ready(function ($) {
            if ($('#show-message').data('success') == "Success") {
                showSuccessToast();
            };
        })
    </script>
}
