@using System.Globalization

@{
    ViewBag.Title = "MemberShip";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

    <div id="main">
        <section class="main-title-section-wrapper">
            <div class="container">
                <div class="main-title-section">
                    <h1>Membership</h1><div class="breadcrumb">
                        <a href="https://lmstheme.wpengine.com">Home</a><span class="fa default">  </span><span class="current">Membership</span>
                    </div>
                </div>		
                <div class="header-search">
                    <form method="get" id="searchform" class="searchform" action="https://lmstheme.wpengine.com/">
                        <input id="s" name="s" type="text" value="" class="text_input" placeholder="Search">
                        <input type="hidden" name="search-type" value="default">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>
        </section>
        <div class="container">
            <section id="primary" class="content-full-width">

                <div id="post-6536" class="post-6536 page type-page status-publish hentry">
                    <div class="social-bookmark"></div>
                    <div class="social-share"></div>
                </div>

                @foreach (var item in ViewBag.ListMemberType)
                {
                    <div class="dt-sc-callout-box membership-box type5">
                        <div class="column dt-sc-one-column">
                            <h4><strong>@(item.MemberType) member</strong></h4>
                            <h5>
                                Thành viên để có quyền truy cập vào tất cả các khóa học cho
                                @if (item.ExpiredMonths != 12)
                                {
                                    <span>@(item.ExpiredMonths) tháng - @(Math.Round(item.Price).ToString("#,###", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))<span>&#8363;</span></span>
                                }
                                else
                                {
                                    <span>1 năm - @(Math.Round(item.Price).ToString("#,###", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))<span>&#8363;</span></span>
                                }
                            </h5>
                        </div>
                        <div class="dt-sc-hr-invisible-small"></div>
                        <div class="column">
                            <button style="margin-left: 10px;" class="dt-sc-button small">
                                <i class="fa fa-cc-paypal"></i> Thanh toán Paypal
                            </button>
                            <form action="@Url.Action("VnPayMembership","ShoppingCart")" method="post">
                                @*<input type="hidden" id="amountSilver" name="amount" value=""/>
                                <input type="hidden" id="desSilver" name="description" value=""/>*@
                                <input type="hidden" name="amount" value="@(item.Price)" />
                                <input type="hidden" name="description" value="@(item.MemberType)" />
                                <button type="submit" style="margin-left: 10px;" class="dt-sc-button small">
                                    <img src="https://vnpayment.vnpay.vn/Resources/website/images/logo.png" alt="VnPay" style="width: 25px;" />
                                    Thanh toán VnPay
                                </button>
                            </form>
                        </div>
                    </div>
                }
                <div class="dt-sc-hr-invisible"></div>
            </section>
        </div>
    </div>
@section Scripts
{
    <script>
        jQuery(document).ready(function($) {
            if (!sessionStorage.getItem('shoppingCart')) {

            }
        })
    </script>
}
