@using System.Collections.Specialized
@using CourseOnline.Models
@using Microsoft.AspNet.Identity
@model CourseOnline.Models.Course
@{
    var course = Model;
    ViewBag.Title = "ProductDetail";
    var listMyPaidCourseId = ViewBag.MyPaidCourse as List<int>;
    var listBenefits = ViewBag.Benefits;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!-- **Main** -->
<div id="main">
<section class="main-title-section-wrapper">
    <div class="container">
        <div class="main-title-section">
            <h1>Processing Digital Signal</h1><div class="breadcrumb">
                <a href="https://lmstheme.wpengine.com">Home</a><span class='fa default'>  </span><span class='current'>Processing Digital Signal</span>
            </div>
        </div>		
        <div class="header-search">
            <form method="get" id="searchform" class="searchform" action="https://lmstheme.wpengine.com/">
                <input id="s" name="s" type="text" value="" class="text_input" placeholder="Search" />
                <input type="hidden" name="search-type" value="default" />
                <input type="submit" value="" />
            </form>
        </div>
    </div>
</section>

<div class="container">
<section id="primary" class="page-with-sidebar with-right-sidebar">
<article id="post-4716" class="dt-sc-course-single post-4716 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-education">
    <div class="dt-sc-course-details">
        <div class="dt-sc-course-image">
            <img src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/course9.jpg" alt="Processing Digital Signal" />
        </div>
        <div class="dt-sc-course-details-inner">

            <h3 style="position: relative; padding-left: 25px;">
                @(course.CourseName)
                @if (Request.IsAuthenticated && (listMyPaidCourseId.Contains(course.CourseId) || ViewBag.StillMember == true))
                {
                    <span class="dt-sc-certificate-badge" style="left: -15px; top: 0px;">
                        <span class="badge" title="Khóa học bạn đã sở hữu"></span>
                    </span>
                }
            </h3>

            <div class="entry-metadata">
                <div class="dt-sc-meta-container">
                    <p>Đã sở hữu</p>
                    <p>
                        <i class="fa fa-location-arrow"> </i>
                        <a href="#" rel="tag">Education</a>
                    </p>
                    <p>
                        <i class="fa fa-book"> </i>
                        4 Lessons
                    </p>
                    <p><i class="fa fa-clock-o"> </i> 3 hours 30 mins</p>
                </div>
                @if (User.IsInRole("Gold"))
                {
                <p><i class="fa fa-clock-o"> </i> 3 hours 30 mins</p>
                }
                @if (Request.IsAuthenticated && User.IsInRole("teacher") && (User.Identity.GetUserId() == course.ApplicationUser.Id))
                {
                    <div class="dt-sc-status-container">
                        <button target="_self" class="dt-sc-button small filled" disabled="disabled">
                            <i class="fa fa-user"></i>
                            Khóa học của bạn
                        </button>
                        <button target="_self" class="dt-sc-button small filled">
                            <i class="fa fa-edit"></i>
                            Chỉnh sửa
                        </button>
                    </div>
                }
                else if (Request.IsAuthenticated && (listMyPaidCourseId.Contains(course.CourseId) || ViewBag.StillMember == true))
                {
                    <div class="dt-sc-status-container">
                        <a href="/Home/LearnCourse/@(course.CourseId)" target="_self" class="dt-sc-button small filled">
                            <i class="fa fa-play-circle"></i>
                            Bắt đầu học
                        </a>
                    </div>
                }
                else
                {
                    <div class="dt-sc-status-container">
                        <a href="/Home/Membership" target="_self" class="dt-sc-button small filled" style="height: 14px; line-height: 1;">
                            <i class="fa fa-user"></i>
                            Become a member
                        </a>
                        <button target="_self" class="dt-sc-button small filled add-to-cart" data-id="@(course.CourseId)" data-name="@(course.CourseName)" data-price="@(course.Price)" data-author="@(course.ApplicationUser.lastName + " " + course.ApplicationUser.firstName)" data-image="@(course.Image)">
                            <i class="fa fa-shopping-cart"></i>
                            Add to cart
                        </button>

                        <a href="/Home/Cart" target="_self" class="dt-sc-button small filled view-cart" style="display: none;">
                            <i class="fa fa-shopping-cart"></i>
                            View cart
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="dt-sc-clear"></div>
    <div class="dt-sc-hr-invisible-small"></div>
    <section class="entry">
        <h2 class="border-title">Lợi ích của khóa học</h2>
                    
        @for (int i = 0; i < listBenefits.Count; i++)
        {
            var first = i % 3 == 0 ? "first" : "";
            <div class="column dt-sc-one-third  space  @first">
                <div class="dt-sc-ico-content type11">
                    <div class="custom-icon">
                        <a href="#" target="_blank">
                            <span class="fa fa-leaf"></span>
                        </a>
                    </div>
                    <p style="font-weight: 300;">@(listBenefits[i].name)</p>
                </div>
            </div>
        }
                    


        <h2 class="border-title">Mô tả tổng quát</h2>
        <p style="display: inline-block;">@(course.Description)</p>

    </section>
    <div class="dt-sc-clear"></div>
    <div class="dt-sc-hr-invisible"></div>
    <h4 class="border-title">Course Intro Video<span></span></h4>
    <div class="course-video">
        <iframe title="Descendants" width="1170" height="658" src="https://www.youtube.com/embed/NhutLj3SVzQ?feature=oembed&wmode=opaque" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="dt-sc-clear"></div>
    <div class="dt-sc-hr-invisible-medium"></div>
    <div class="dt-lesson-wrapper">
        <div class="dt-lesson-inner-wrapper">
            <h4 class="dt-lesson-title">Giáo trình<span></span></h4>
            <div>
                <p style="width: 55%; display: inline-block; padding-left: 20px;">Thể loại: <span>Công nghệ thông tin</span></p>
                <p class="course-total">
                    <img src="http://dvkhfbm6djrbs.cloudfront.net/5be57a4be2e9ab000ba3a5b6/5d43f62ce1af2a00128ed897/ezgif.com-gif-maker.png" width="24" height="24" style="position: absolute; left: 0px;">
                    Số bài:
                    <span>@(course.ResourceCourses.Count)</span>
                </p>
            </div>
            <div class="lessons-list">
                @for (int i = 0; i < course.ResourceCourses.Count; i++)
                {
                    <div class="lesson-name">
                        <p class="">
                            <img src="http://dvkhfbm6djrbs.cloudfront.net/5be57a4be2e9ab000ba3a5b6/5d43f62ce1af2a00128ed897/ezgif.com-gif-maker.png" width="24" height="24" style="position: absolute; left: 10px;">
                            @(course.ResourceCourses.ElementAt(i).Title)
                        </p>
                    </div>
                }
                            
            </div>
        </div>
    </div>
</article>
<div class="clear"> </div>
<div class="dt-sc-hr-invisible"> </div>
<div class="commententries">
    <h3 class="border-title"> No Comments<span> </span></h3>
    <!-- Comment Form -->
    <div id="respond" class="comment-respond">
        <h3 id="reply-title" class="comment-reply-title">Post a Reply  <small><a rel="nofollow" id="cancel-comment-reply-link" href="/courses/processing-digital-signal/#respond" style="display:none;">Cancel reply</a></small></h3>			<form action="https://lmstheme.wpengine.com/wp-comments-post.php?wpe-comment-post=lmstheme" method="post" id="commentform" class="comment-form" novalidate>
            <div class='column dt-sc-one-half first'><p><input id='author' name='author' type='text' placeholder='Your Name' required /></p></div>
            <div class='column dt-sc-one-half'> <p> <input id='email' name='email' type='text' placeholder='Your Email' required /> </p></div>
            <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" /><label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>
            <p class='textarea-field'><textarea id='comment' name='comment' cols='5' rows='3' placeholder='Your Comment'></textarea></p><p class="form-submit">
                <input name="submit" type="submit" id="submit" class="submit" value="Comment" /> <input type='hidden' name='comment_post_ID' value='4716' id='comment_post_ID' />
                <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
            </p>
        </form>
    </div>
</div>
<div class="clear"> </div>
<div class="dt-sc-hr-invisible"> </div>
<div class="dt-sc-related-courses">
    <h3>Related Courses</h3>
    <div class="column dt-sc-one-third first">
        <article id="post-4708" class="dt-sc-custom-course-type post-4708 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-education">

            <div class="dt-sc-course-thumb">
                <a href="https://lmstheme.wpengine.com/courses/advanced-programming/">
                    <img src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/course11.jpg" alt="Advanced Programming" />
                </a>
                <div class="dt-sc-course-overlay">
                    <a title="Advanced Programming" href="https://lmstheme.wpengine.com/courses/advanced-programming/" class="dt-sc-button small white"> View Course </a>
                </div>
            </div>

            <div class="dt-sc-course-details">

                <span class="dt-sc-course-price"><span class="amount">$40</span></span>
                <h5><a href="https://lmstheme.wpengine.com/courses/advanced-programming/" title="Advanced Programming">Advanced Programming</a></h5>

                <div class="dt-sc-course-meta">
                    <p>  <a href="https://lmstheme.wpengine.com/coursecategory/education/" rel="tag">Education</a>  </p>
                    <p> 5&nbsp;Lessons </p>
                </div>

                <div class="dt-sc-course-data">
                    <div class="dt-sc-course-duration">
                        <i class="fa fa-clock-o"> </i>
                        <span> 03 : 15 </span>
                    </div>
                    <span id="post-ratings-4708" class="post-ratings" data-nonce="511ddaf6c2"><img id="rating_4708_1" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(4708, 1, '1 Star');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4708_2" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(4708, 2, '2 Stars');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4708_3" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(4708, 3, '3 Stars');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4708_4" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(4708, 4, '4 Stars');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4708_5" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_half.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(4708, 5, '5 Stars');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /> (<strong>222</strong> votes, average: <strong>4.26</strong> out of 5)<br /><span class="post-ratings-text" id="ratings_4708_text"></span></span><span id="post-ratings-4708-loading" class="post-ratings-loading">
                        <img src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...
                    </span>
                </div>

            </div>

        </article>
    </div>
    <div class="column dt-sc-one-third ">
        <article id="post-5993" class="dt-sc-custom-course-type post-5993 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-education">

            <div class="dt-sc-course-thumb">
                <a href="https://lmstheme.wpengine.com/courses/power-electronics/">
                    <img src="https://lmstheme.wpengine.com/wp-content/uploads/2014/08/course13.jpg" alt="Power Electronics" />
                </a>
                <div class="dt-sc-course-overlay">
                    <a title="Power Electronics" href="https://lmstheme.wpengine.com/courses/power-electronics/" class="dt-sc-button small white"> View Course </a>
                </div>
            </div>

            <div class="dt-sc-course-details">

                <span class="dt-sc-course-price"><span class="amount">$50</span></span>
                <h5><a href="https://lmstheme.wpengine.com/courses/power-electronics/" title="Power Electronics">Power Electronics</a></h5>

                <div class="dt-sc-course-meta">
                    <p>  <a href="https://lmstheme.wpengine.com/coursecategory/education/" rel="tag">Education</a>  </p>
                    <p> 6&nbsp;Lessons </p>
                </div>

                <div class="dt-sc-course-data">
                    <div class="dt-sc-course-duration">
                        <i class="fa fa-clock-o"> </i>
                        <span> 05 : 35 </span>
                    </div>
                    <span id="post-ratings-5993" class="post-ratings" data-nonce="3a5596193b"><img id="rating_5993_1" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(5993, 1, '1 Star');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5993_2" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(5993, 2, '2 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5993_3" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(5993, 3, '3 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5993_4" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(5993, 4, '4 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5993_5" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_off.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(5993, 5, '5 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /> (<strong>356</strong> votes, average: <strong>4.21</strong> out of 5)<br /><span class="post-ratings-text" id="ratings_5993_text"></span></span><span id="post-ratings-5993-loading" class="post-ratings-loading">
                        <img src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...
                    </span>
                </div>
            </div>
        </article>
    </div>
</div>

</section>
<!-- Secondary Right -->
<section id="secondary-right" class="secondary-sidebar secondary-has-right-sidebar">
    <aside class="widget dt_widget_students_enrolled" id="dt-widget-students-enrolled">
        <h3>Giảng viên</h3>
        <div class="dt-sc-staff-carousel-wrapper">
            <ul class="dt-sc-staff-carousel">
                <li class="column dt-sc-one-fourth">
                    <div class='dt-sc-team'>
                        <div class='image'>
                            <img src="https://znews-photo.zadn.vn/w660/Uploaded/mdf_drkydd/2019_10_09/03.jpg" class="attachment-full size-full wp-post-image" style="width: 550px;" />
                        </div>
                        <div class="team-details">
                            <h5 class="teacher-na">
                                <a href="#" style="text-transform: none;">@(course.ApplicationUser.lastName +" "+ course.ApplicationUser.firstName)</a>
                            </h5>
                            <h6>Giảng viên</h6>
                            <div class='dt-sc-social-icons'>
                                        
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>

    <div class="dt-sc-average-rating">
        <h2>4.12</h2>
        <span id="post-ratings-4716" class="post-ratings" itemscope itemtype="http://schema.org/Article" data-nonce="804f270fd4">
            <img id="rating_4716_1" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(4716, 1, '1 Star');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4716_2" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(4716, 2, '2 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4716_3" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(4716, 3, '3 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4716_4" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(4716, 4, '4 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4716_5" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_off.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(4716, 5, '5 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /> (<strong>84</strong> votes, average: <strong>4.12</strong> out of 5)<br /><span class="post-ratings-text" id="ratings_4716_text"></span><meta itemprop="headline" content="Processing Digital Signal" /><meta itemprop="description" content="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo." /><meta itemprop="datePublished" content="2014-06-24T12:19:17+00:00" /><meta itemprop="dateModified" content="2014-08-11T04:37:41+00:00" /><meta itemprop="url" content="https://lmstheme.wpengine.com/courses/processing-digital-signal/" /><meta itemprop="author" content="ram" /><meta itemprop="mainEntityOfPage" content="https://lmstheme.wpengine.com/courses/processing-digital-signal/" />
            <div style="display: none;" itemprop="image" itemscope itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/course9-150x150.jpg" /><meta itemprop="width" content="150" /><meta itemprop="height" content="150" /></div>
            <div style="display: none;" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="name" content="LMS" />
                <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="" /></div>
            </div>
            <div style="display: none;" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"><meta itemprop="bestRating" content="5" /><meta itemprop="worstRating" content="1" /><meta itemprop="ratingValue" content="4.12" /><meta itemprop="ratingCount" content="84" /></div>
        </span>
        <span id="post-ratings-4716-loading" class="post-ratings-loading">
            <img src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...
        </span>
        <span>84 ratings</span>
    </div>
    <ul class="dt-sc-ratings-breakup">
        <li>
            <span class="dt-sc-ratings-label">1 Star</span>
            <div class="dt-sc-ratings-percentage">
                <span style="width: 9%"></span>
            </div>
            <span>8</span>
        </li>
        <li>
            <span class="dt-sc-ratings-label">2 Stars</span>
            <div class="dt-sc-ratings-percentage">
                <span style="width: 3%"></span>
            </div>
            <span>3</span>
        </li>
        <li>
            <span class="dt-sc-ratings-label">3 Stars</span>
            <div class="dt-sc-ratings-percentage">
                <span style="width: 11%"></span>
            </div>
            <span>10</span>
        </li>
        <li>
            <span class="dt-sc-ratings-label">4 Stars</span>
            <div class="dt-sc-ratings-percentage">
                <span style="width: 15%"></span>
            </div>
            <span>13</span>
        </li>
        <li>
            <span class="dt-sc-ratings-label">5 Stars</span>
            <div class="dt-sc-ratings-percentage">
                <span style="width: 59%"></span>
            </div>
            <span>50</span>
        </li>
    </ul>
    <aside id="woocommerce_product_search-2" class="widget woocommerce widget_product_search">
        <h3 class="widgettitle">Search Products<span></span></h3>
        <form role="search" method="get" class="woocommerce-product-search" action="https://lmstheme.wpengine.com/">
            <label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:</label>
            <input type="search" id="woocommerce-product-search-field-0" class="search-field" placeholder="Search products&hellip;" value="" name="s" />
            <button type="submit" value="Search">Search</button>
            <input type="hidden" name="post_type" value="product" />
        </form>
    </aside>
    <aside id="woocommerce_widget_cart-2" class="widget woocommerce widget_shopping_cart">
        <h3 class="widgettitle">Cart<span></span></h3>
        <div class="hide_cart_widget_if_empty">
            <div class="widget_shopping_cart_content"></div>
        </div>
    </aside>
    <aside id="woocommerce_top_rated_products-2" class="widget woocommerce widget_top_rated_products">
        <h3 class="widgettitle">Top Rated Products<span></span></h3>
        <ul class="product_list_widget">
            <li>
                <a href="https://lmstheme.wpengine.com/product/security-systems/">
                    <img width="150" height="150" src="//lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book.jpg 1000w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book-150x150.jpg 150w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book-300x300.jpg 300w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book-100x100.jpg 100w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book-95x95.jpg 95w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" /> <span class="product-title">Security Systems</span>
                </a>

                <div class="star-rating"><span style="width: 100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>20.00</span>
            </li>
            <li>

                <a href="https://lmstheme.wpengine.com/product/information-architecture/">
                    <img width="150" height="150" src="//lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book.jpg 1000w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book-150x150.jpg 150w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book-300x300.jpg 300w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book-100x100.jpg 100w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book-95x95.jpg 95w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" /> <span class="product-title">Information Architecture</span>
                </a>

                <div class="star-rating"><span style="width: 100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>9.00</span>
            </li>
            <li>

                <a href="https://lmstheme.wpengine.com/product/application-maintenance/">
                    <img width="150" height="150" src="//lmstheme.wpengine.com/wp-content/uploads/2013/06/badge.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//lmstheme.wpengine.com/wp-content/uploads/2013/06/badge.jpg 1000w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-150x150.jpg 150w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-300x300.jpg 300w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-100x100.jpg 100w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-95x95.jpg 95w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" /> <span class="product-title">Application Maintenance</span>
                </a>

                <div class="star-rating"><span style="width: 93.4%">Rated <strong class="rating">4.67</strong> out of 5</span></div>
                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>35.00</span>
            </li>
            <li>

                <a href="https://lmstheme.wpengine.com/product/economic-analysis/">
                    <img width="150" height="150" src="//lmstheme.wpengine.com/wp-content/uploads/2013/06/book2.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//lmstheme.wpengine.com/wp-content/uploads/2013/06/book2.jpg 1000w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/book2-150x150.jpg 150w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/book2-300x300.jpg 300w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/book2-100x100.jpg 100w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/book2-95x95.jpg 95w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/book2-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" /> <span class="product-title">Economic Analysis</span>
                </a>

                <div class="star-rating"><span style="width: 90%">Rated <strong class="rating">4.50</strong> out of 5</span></div>
                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>20.00</span>
            </li>
        </ul>
    </aside>
    <aside id="text-6" class="widget widget_text">
        <h3 class="widgettitle">About us<span></span></h3>
        <div class="textwidget">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et lobortis diam. <br> <br> Duis tellus enim, vestibulum eget varius id, vulputate et mi. Nullam feugiat, diam quis interdum varius </p>
            <a href="http://lmstheme.wpengine.com/dtcourses/" title="" class="dt-sc-button small"> Start Learning Now </a>
        </div>
    </aside>
</section>
</div>
</div>
@section Scripts{
    <script>
        jQuery(document).ready(function($) {
            $('.add-to-cart').click(function() {
                $(this).css("display", "none");
                $('.view-cart').css("display", "block");
            });
            
        })
    </script>
}
