@model PagedList.IPagedList<CourseOnline.Models.Course>
@using System.Globalization
@using Microsoft.AspNet.Identity
@using PagedList.Mvc;
@{
    ViewBag.Title = "Shop";
    var listMyPaidCourseId = ViewBag.MyPaidCourse as List<int>;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!-- **Main** -->
<div id="main">

    <!-- Slider Section -->
    <!-- Sub Title Section -->
    <!-- ** Breadcrumb Section ** -->
    <section class="main-title-section-wrapper">
        <div class="container">
            <div class="main-title-section">
                <h1>Courses</h1>
                <div class="breadcrumb">
                    <a href="https://lmstheme.wpengine.com">Home</a><span class='fa default'>  </span><span class='current'>Courses</span>
                </div>
                <!-- ** breadcrumb - End -->
            </div>
            <div class="header-search">
                <form method="get" id="searchform" class="searchform" action="@Url.Action("Shop","Home")">
                    <input id="search-input" name="search" type="text" class="text_input" placeholder="Search" value="@ViewBag.Search"/>
                    <input type="hidden" name="search-type" value="default" />
                    <input type="submit" value="" />
                </form>
            </div>
        </div>
    </section>
    <!-- ** Breadcrumb Section End ** -->
    <!-- Sub Title Section -->
    <!-- ** Container ** -->
    <div class="container">

        <!-- ** Primary Section ** -->
        <section id="primary" class="content-full-width">


            <div class="courses-sorting">

                <div class="courses-popular-type">
                    <label> Filter by : </label>
                    <select name="courses-type" id="courses-type" data-postid="4714">
                        <option value="all">All</option>
                        <option value="featured">Featured Courses</option>
                        <option value="popular">Popular Courses</option>
                    </select>
                </div>

                <div class="courses-categorywise">
                    <label> Choose Category : </label>
                    <select name="courses-category" id="courses-category" data-postid="4714">
                        <option value="all">All</option>
                        <option value="68">Education</option>
                        <option value="71">Engineering</option>
                        <option value="70">Health</option>
                        <option value="72">Law</option>
                        <option value="64">Mathematics</option>
                    </select>
                </div>

                <div class="courses-classwise">
                    <label> Choose Class : </label>
                    <select name="filter-classes" id="filter-classes" data-postid="4714">
                        <option value="all">All</option>
                    </select>
                </div>

                <div class="courses-price-type">
                    <a class="course-price course-all-price active" data-postid="4714" data-price_type="all"> <span> </span>All</a>
                    <a class="course-price course-paid-price" data-postid="4714" data-price_type="paid"> <span> </span>Paid</a>
                    <a class="course-price course-free-price" data-postid="4714" data-price_type="free"> <span> </span>Free</a>
                </div>

            </div>

            <div class="courses-view-type">
                <a class="course-layout course-grid-type active" data-postid="4714" data-view_type="grid"> <span> </span>Grid</a>
                <a class="course-layout course-list-type" data-postid="4714" data-view_type="list"> <span> </span>List</a>
            </div>

            <div id="dt-sc-ajax-load-image" style="display:none;"><img src="https://lmstheme.wpengine.com/wp-content/themes/lms/images/loading.gif" alt="" /></div>
            <div class="ajax_tpl_course_content">
                <div class="dt-sc-results-found">Records Found : <span>12</span></div>

                @for (var i = 0; i < Model.Count; i++)
                {
                    var first = i % 3 == 0 ? "first" : "";
                    <div class="column dt-sc-one-third @first">
                        <article id="post-4708" class="dt-sc-custom-course-type  post-4708 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-education">
                            <div class="dt-sc-course-thumb">
                                <a href="#">
                                    <img src="@(Model[i].Image)" style="width: 420px; height: 245px;">
                                </a>
                                <div class="dt-sc-course-overlay">
                                    <a title="Advanced Programming" href="@Url.Action("ProductDetail","Home",new { id = Model[i].CourseId})" class="dt-sc-button small white"> Xem chi tiết </a>
                                </div>
                            </div>
                            <div class="dt-sc-course-details">
                                <span class="dt-sc-course-price"><span class="amount">@(Math.Round(Model[i].Price).ToString("#,###", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))<span>&#8363;</span></span></span>
                                <h5><a href="https://lmstheme.wpengine.com/courses/advanced-programming/" title="Advanced Programming">@(Model[i].CourseName)</a></h5>
                                <div class="dt-sc-certificate-badge">
                                    @if (Request.IsAuthenticated && User.IsInRole("teacher") && (Model[i].ApplicationUser.Id == User.Identity.GetUserId()))
                                    {
                                        <span class="certificate" title="Khóa học của bạn"></span>
                                    }
                                    @if (Request.IsAuthenticated && (listMyPaidCourseId.Contains(Model[i].CourseId) || ViewBag.StillMember == true))
                                    {
                                        <span class="badge" title="Khóa học bạn đã sở hữu"></span>
                                    }

                                </div>
                                <div class="dt-sc-course-meta" style="position: relative; padding-left: 40px;">
                                    <div style="display: inline-block; position: absolute; left: 0px;">
                                        <img src="https://znews-photo.zadn.vn/w660/Uploaded/mdf_drkydd/2019_10_09/03.jpg" alt="Alternate Text" style="border-radius: 100%; width: 30px; height: 30px;"/>
                                    </div>
                                    <p class="teacher-name">@(Model[i].ApplicationUser.firstName)</p>
                                    <p> @(Model[i].ResourceCourses.Count)&nbsp;Bài học </p>
                                </div>
                                <div class="dt-sc-course-data">
                                    <div class="dt-sc-course-duration">
                                        <i class="fa fa-clock-o"> </i>
                                        <span> 03 : 15 </span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                }


                <div class="pagination" data-postid="6907">
                    <ul>
                        <li class="active-page">1</li>
                        <li><a href="#">2</a></li>
                    </ul>
                    <div class="next-post">
                        <a href="#" cpage="1" class="dt-next">
                            Next <span class="fa fa-angle-double-right"></span>
                        </a>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
@section Scripts
{
    <script>
        jQuery(document).ready(function($) {
        })
    </script>
}
