@model PagedList.IPagedList<CourseOnline.Models.Course>
@using System.Globalization
@using Microsoft.AspNet.Identity
@using PagedList.Mvc;
@{
    ViewBag.Title = "YourCourses";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<style>
    .selection-box:after {
        height: 43px !important;
    }

    select {
        height: 45px !important;
        padding-bottom: 9px !important;
    }

    .courses-sorting {
        padding: 20px 20px 0px 20px !important;
    }

        .courses-sorting .courses-popular-type {
            margin: 0px 0px 0px 10px !important;
        }
</style>
<div id="main">

    <section class="main-title-section-wrapper">
        <div class="container">
            <div class="main-title-section">
                <h1>Khóa học của bạn</h1>
                <div class="breadcrumb">
                    <a href="https://lmstheme.wpengine.com">Trang chủ</a><span class="fa default"> </span><span class="current">Khóa học của bạn</span>
                </div>
            </div>
            <div class="header-search">
                <form method="get" id="searchform" class="searchform" action="@Url.Action("Shop","Home")">
                    <input id="search-input" name="search" type="text" class="text_input" placeholder="Tìm kiếm khóa học"  />
                    <input type="submit" value="" />
                </form>
            </div>
        </div>
    </section>
    <div class="container">
        <section id="primary" class="content-full-width">
            <div class="courses-sorting">

                <div class="courses-categorywise">
                    <label> Chọn danh mục: </label>
                    <select name="courses-category" id="courses-category" data-postid="4714" onchange="javascript:handleSelectCategory(this)">
                        <option value="" selected="selected">Tất cả</option>
                        @foreach (var item in ViewBag.ListCategories)
                        {
                            <option value="@(item.CategoryId)">@(item.CategoryName)</option>
                        }
                    </select>
                </div>

                <div class="courses-popular-type" role="search" style="width: 50%">
                    <form action="@Url.Action("YourCourses","Home")" method="get" id="search-members-form">
                        <input type="text" name="search" id="members_search" placeholder="Tìm kiếm khóa học của bạn..." value="@ViewBag.Key"/>
                        <input type="submit" value="Tìm kiếm" style="position: absolute; top: -7px; right: 3px;">
                    </form>
                </div>


            </div>

            <div id="dt-sc-ajax-load-image" style="display: none;"><img src="https://lmstheme.wpengine.com/wp-content/themes/lms/images/loading.gif" alt=""></div>
            <div class="ajax_tpl_course_content">
                @for (var i = 0; i < Model.Count; i++)
                {
                    var first = i % 3 == 0 ? "first" : "";
                    <div class="column dt-sc-one-third @first">
                        <article id="post-4708" class="dt-sc-custom-course-type  post-4708 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-education">
                            <div class="dt-sc-course-thumb">
                                <a href="#">
                                    <img src="@(Model[i].Image)" style="width: 420px; height: 245px;">
                                </a>
                                <div class="dt-sc-course-overlay">
                                    <a title="Advanced Programming" href="@Url.Action("ProductDetail","Home",new { id = Model[i].CourseId})" class="dt-sc-button small white"> Xem chi tiết </a>
                                </div>
                            </div>
                            <div class="dt-sc-course-details">
                                @if (Model[i].Price > 0)
                                {
                                    <span class="dt-sc-course-price"><span class="amount">@(Math.Round(Model[i].Price).ToString("#,###", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))<span>&#8363;</span></span></span>
                                }
                                else if (Model[i].Price == 0)
                                {
                                    <span class="dt-sc-course-price"><span class="amount">Free</span></span>
                                }

                                <h5><a href="https://lmstheme.wpengine.com/courses/advanced-programming/" title="Advanced Programming">@(Model[i].CourseName)</a></h5>
                                <div class="dt-sc-certificate-badge">
                                    @if (Request.IsAuthenticated && User.IsInRole("teacher") && (Model[i].ApplicationUser.Id == User.Identity.GetUserId()))
                                    {
                                        <span class="certificate" title="Khóa học của bạn"></span>
                                    }
                                    <span class="badge" title="Khóa học bạn đã sở hữu"></span>

                                </div>
                                <div class="dt-sc-course-meta" style="position: relative; padding-left: 40px;">
                                    <div style="display: inline-block; position: absolute; left: 0px;">
                                        <img src="https://znews-photo.zadn.vn/w660/Uploaded/mdf_drkydd/2019_10_09/03.jpg" alt="Alternate Text" style="border-radius: 100%; width: 30px; height: 30px;" />
                                    </div>
                                    <p class="teacher-name">@(Model[i].ApplicationUser.firstName)</p>
                                    <p> @(Model[i].ResourceCourses.Count)&nbsp;Bài học </p>
                                    <p> @(Model[i].StudentCourses.Count)&nbsp;học viên </p>
                                </div>
                                <div class="dt-sc-course-data">
                                    <div class="dt-sc-course-duration">
                                        <i class="fa fa-clock-o"> </i>
                                        <span> 03 : 15 </span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                }

                <div class="pagination">
                    @Html.PagedListPager(Model, page => Url.Action("YourCourses", new { page, search = ViewBag.Search, category = ViewBag.CurrentCatalog}))
                </div>
                @if (Model.Count == 0)
                {
                    <div style="text-align: center">
                        <h4>Không tìm thấy khóa học!</h4>
                    </div>
                }
            </div>
        </section>
    </div>>
</div>
@section Scripts
{
    <script>
        jQuery(document).ready(function ($) {

            $('#courses-category').val(getParameterFromUrl("category"));

        });
        function handleSelectCategory(select) {
            var url_string = window.location.href;
            var url = new URL(url_string);
            if (window.location.search) {
                if (url.searchParams.get("category") != null) {
                    url.searchParams.set("category", select.value);
                } else {
                    url.searchParams.append('category', select.value);
                }
            } else {
                url.searchParams.append('category', select.value);
            }
            window.location.search = url.searchParams;
        }
        function getParameterFromUrl(parameter) {
            var url_string = window.location.href;
            var url = new URL(url_string);
            return url.searchParams.get(parameter);
        }
    </script>
}